

<div class="container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="32px" fxLayoutAlign="flex-start">

  <div *ngFor="let product of products; index as productId" fxFlex="0 1 calc(33.3% - 32px)">

    <h3>
      <a [title]="product.name + ' details'" [routerLink]="['/products', product._id]" fxLayoutAlign="center">
        {{ product.name }}
      </a>
    </h3>

    <img src="{{ product.picture }}" style="clip-path: circle(45%)" [routerLink]="['/products', product._id]" fxLayoutAlign="center">

    <br>

    <!--water icons-->
    <div fxLayoutAlign="center">
      <div *ngIf="product.water==1">
        <span class="fa fa-tint checked" style="color: rgb(24, 105, 228)"></span>
        <span class="fa fa-tint"></span>
        <span class="fa fa-tint"></span>
        <span class="fa fa-tint"></span>
        <span class="fa fa-tint"></span>
      </div>

      <div *ngIf="product.water==2">
        <span class="fa fa-tint checked" style="color: rgb(24, 105, 228)"></span>
        <span class="fa fa-tint checked" style="color: rgb(24, 105, 228)"></span>
        <span class="fa fa-tint"></span>
        <span class="fa fa-tint"></span>
        <span class="fa fa-tint"></span>
      </div>

      <div *ngIf="product.water==3">
        <span class="fa fa-tint checked" style="color: rgb(24, 105, 228)"></span>
        <span class="fa fa-tint checked" style="color: rgb(24, 105, 228)"></span>
        <span class="fa fa-tint checked" style="color: rgb(24, 105, 228)"></span>
        <span class="fa fa-tint"></span>
        <span class="fa fa-tint"></span>
      </div>

      <div *ngIf="product.water==4">
        <span class="fa fa-tint checked" style="color: rgb(24, 105, 228)"></span>
        <span class="fa fa-tint checked" style="color: rgb(24, 105, 228)"></span>
        <span class="fa fa-tint checked" style="color: rgb(24, 105, 228)"></span>
        <span class="fa fa-tint checked" style="color: rgb(24, 105, 228)"></span>
        <span class="fa fa-tint"></span>
      </div>

      <div *ngIf="product.water==5">
        <span class="fa fa-tint checked" style="color: rgb(24, 105, 228)"></span>
        <span class="fa fa-tint checked" style="color: rgb(24, 105, 228)"></span>
        <span class="fa fa-tint checked" style="color: rgb(24, 105, 228)"></span>
        <span class="fa fa-tint checked" style="color: rgb(24, 105, 228)"></span>
        <span class="fa fa-tint checked" style="color: rgb(24, 105, 228)"></span>
      </div>
    </div>

    <!--light icons-->
    <div fxLayoutAlign="center">
      <div *ngIf="product.light==1">
        <span class="fa fa-sun checked" style="color: rgb(225, 228, 24);"></span>
        <span class="fa fa-sun"></span>
        <span class="fa fa-sun"></span>
        <span class="fa fa-sun"></span>
        <span class="fa fa-sun"></span>
      </div>

      <div *ngIf="product.light==2">
        <span class="fa fa-sun checked" style="color: rgb(225, 228, 24);"></span>
        <span class="fa fa-sun checked" style="color: rgb(225, 228, 24);"></span>
        <span class="fa fa-sun"></span>
        <span class="fa fa-sun"></span>
        <span class="fa fa-sun"></span>
      </div>

      <div *ngIf="product.light==3">
        <span class="fa fa-sun checked" style="color: rgb(225, 228, 24);"></span>
        <span class="fa fa-sun checked" style="color: rgb(225, 228, 24);"></span>
        <span class="fa fa-sun checked" style="color: rgb(225, 228, 24);"></span>
        <span class="fa fa-sun"></span>
        <span class="fa fa-sun"></span>
      </div>

      <div *ngIf="product.light==4">
        <span class="fa fa-sun checked" style="color: rgb(225, 228, 24);"></span>
        <span class="fa fa-sun checked" style="color: rgb(225, 228, 24);"></span>
        <span class="fa fa-sun checked" style="color: rgb(225, 228, 24);"></span>
        <span class="fa fa-sun checked" style="color: rgb(225, 228, 24);"></span>
        <span class="fa fa-sun"></span>
      </div>

      <div *ngIf="product.light==5">
        <span class="fa fa-sun checked" style="color: rgb(225, 228, 24);"></span>
        <span class="fa fa-sun checked" style="color: rgb(225, 228, 24);"></span>
        <span class="fa fa-sun checked" style="color: rgb(225, 228, 24);"></span>
        <span class="fa fa-sun checked" style="color: rgb(225, 228, 24);"></span>
        <span class="fa fa-sun checked" style="color: rgb(225, 228, 24);"></span>
      </div>
    </div>
    <br>

    <div  fxLayoutGap="10px" fxLayoutAlign="center">
      <button *ngIf="product.availability==true" (click)="addToCart(product)">Buy</button>
      
      <app-product-alerts [product]="product" (notify)="onNotify()">
      </app-product-alerts>

      <button (click)="share()">Share</button>
      
    </div>  

    

  </div>

</div>
