/* You can add global styles to this file, and also import other style files */
* {
  font-family: 'Helvetica';
  color: rgb(63, 65, 34);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-image: url("assets/images/background-opacity.png");
  background-repeat: repeat-x;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

router-outlet + *  {
  padding: 0 16px;
}

/* Text */

h1 {
  font-size: 32px;
}

h2 {
  font-size: 20px;
}

h1, h2 {
  font-weight: lighter;
}

p {
  color:rgb(63, 65, 34);
  font-size: 18px;
}

/* Hyperlink */

a {
  cursor: pointer;
  color: rgb(63, 65, 34);
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

/* Input */

input {
  font-size: 14px;
  border-radius: 2px;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #BDBDBD;
}

label {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 4px;
  display: block;
  text-transform: uppercase;
}

/* Button */
.button, button {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  margin: 8px 8px 8px 0px;
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
  background-color: rgb(83, 111, 22);
  color: rgb(212, 214, 207);
  border: none;
}

.button:hover, button:hover {
  opacity: 0.8;
  font-weight: normal;
}

.button:disabled, button:disabled {
  opacity: 0.5;
  cursor: auto;
}

/* Fancy Button */

.fancy-button {
  background-color: rgb(212, 214, 207);
  color: rgb(63, 65, 34);
}

.fancy-button i.material-icons {
  color: rgb(63, 65, 34);
  padding-right: 4px;
}

.na-button {
  display: inline-flex;
  align-items: center;
 
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
  background-color: rgb(255, 204, 0);
  color: rgb(63, 65, 34);
}

/* Top Bar */

app-top-bar {
  width: 100%;
  height: 68px;
  background-color: rgb(83, 111, 22);
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

app-top-bar h1 {
  color: rgb(212, 214, 207);
  margin: 0;
}

/* Checkout Cart, Shipping Prices */

.cart-item, .shipping-item {
  width: 100%;
  min-width: 400px;
  max-width: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 32px;
  margin-bottom: 8px;
  border-radius: 2px;
  background-color:rgb(212, 214, 207);
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.fa-sun{
  margin: 3px;
}

.fa-tint{
  margin: 5px;
}

td {
  padding: 15px;
}
th {
  text-align: left;
  padding: 15px;
}
img {
  margin-left: 25px;
}
